;==============================================================================
;
;		‚l‚lƒRƒŽƒtƒBƒOƒŒ[ƒVƒ‡ƒŽ	MM 1.50 —p
;
;								(C)MOGU
;
;==============================================================================
;
;	ƒJƒXƒ^ƒ}ƒCƒU‚?‚?‚¢[‚?Ž?ACS‚?Œ?—?—p‚µ‚?‚?‚?‚³‚¢B
;	ƒJƒXƒ^ƒ}ƒCƒY‚?ƒRƒ}ƒŽƒh?‚?‚?
;
;CS MM [RETURN]
;
;	‚?Ž?—?‚?‚?Ž–‚?AƒRƒŽƒtƒBƒOƒŒ[ƒVƒ‡ƒŽƒtƒ@ƒCƒ‹‚????‚µ‚?Ž?—e‚??‚?¢?‚¦
;	‚?‚?‚?‚?B
;
;¦¢eŽ?¢O•?ƒc[ƒ‹‚????Ž?Aƒtƒ‹ƒpƒX‚?Ž?—?‚?‚?Ž–‚?‚?‚?¢O•?ƒc[ƒ‹‚?Ž?s‚?‚?‚???
;  Žx‚?Œ??‚¢‚?‚µ‚?‚?B


;‰‹NŽ?Ž?‚?ƒtƒ@ƒCƒ‹•\Ž¦s?
;
;	5=‚Ts	3=‚Rs	2=‚Qs	1=‚Ps  9=Ž?Ž???•?
;
MODE    = 5


;‰‹NŽ?Ž?‚?ƒtƒ@ƒCƒ‹‚?F
;
;	0=ƒtƒ@ƒCƒ‹???–ˆ	1=¢g?£Žq–ˆ
;
MODE2   = 0


;‰‹NŽ?Ž?‚?Œ?????
;
;•?X‰??\•?•?
;	(2)	•s‰?Ž‹ƒtƒ@ƒCƒ‹
;	(4)	ƒVƒXƒeƒ€ƒtƒ@ƒCƒ‹
;
;	OFF‚?‚?‚?‚?‚?‚?A22‚?‚??‚?()‚???‚??Žš‚?ˆ?‚¢‚?‰?‚³‚¢B
;
ATTR    = 22


;‰‹NŽ?Ž?‚?ƒƒCƒ‹ƒhƒJ[ƒh
;
;•K‚?‚P‚R•?Žš–¢–?‚?‚?‚?‚±‚?B
;i"?","/","*" ‚?ƒƒCƒ‹ƒhƒJ[ƒh‚?Žg—p‚?‰??\B?‚µ‚?‚? MM.DOC‚?‚?——‰?‚³‚¢j
;	 0----5---10--+
WILDCARD= *.*         ;


;ƒL[ƒNƒ¢ƒbƒN‰?‚?o—????
;
;	1=ON 0=OFF
;

KEYCLIK = 1


;¢?Žš•\Ž¦Ž?‚?Žg—pƒtƒHƒŽƒg(12*8)
;
;	0=¢O•?ƒtƒHƒŽƒg‚?Žg—p‚?‚µ‚?‚¢B(0ˆ?¢O‚?¢O•?ƒtƒHƒŽƒg‚?Ž?Ž?Œ??‚?‚µ‚?‚?B)
;
;	1=¢O•?ƒtƒHƒŽƒg‚?Ž?Ž?Œ??‚?s‚?‚¢AViewKROM‚????‚µ‚??‡‚?A
;	@12*8dotƒtƒHƒŽƒg‚?•\Ž¦BŒ?‚?‚?‚?‚?‚?‚?‚??‡AŽ?? ƒtƒHƒŽƒg‚?Žg—p‚?‚?B
;
KANJIF  = 1


;ƒXƒNƒ¢[ƒŽƒZ[ƒo[‚?Ž??Ž?¢?•?‚?‚?Ž??ƒtƒ@ƒCƒ‹‚?Žw??
;
; 	Ž??Ž?¢?‚? 0‚?Žw??‚?‚?‚?AƒXƒNƒ¢[ƒŽƒZ[ƒo[‚?‹NŽ?‚µ‚?‚?‚?B
;
SC_TIME = 1			;Ž?¢?i–?4.2•b‚?A1‚?‚?j
SCSAVER = aurora/m              ;‚°‚?‚?‚?‚?Ž‚???‚³‚?‚??•i‚?‚?B
				;‚?‚?‚?‚?‚?ƒtƒ‹ƒpƒX‚?Žw??‚µ‚?‚?‚?‚³‚¢


;TREE•\Ž¦Ž?‚?ƒfƒBƒŒƒNƒgƒ¢Ž?•?‚?ƒtƒ@ƒCƒ‹•\Ž¦
;
;	1=ON 0=OFF
;
TREEFILE= 1

;Ž?? ƒrƒ…ƒAŽ?‚?¢eŽ?•\Ž¦ƒ‚[ƒh‚????
;
;•?X‰??\•?•?				??‚?‚?
;	(1)	ƒoƒCƒiƒ¢[ƒ‚[ƒh	;ON
;	(2)	ƒ^ƒu•?			;4 TAB
;	(4)	Ctrl code‚?•\Ž¦		;ON
;	(8)	‰?s‚?•\Ž¦		;ON
;	(16)	ANK•\Ž¦			;ON
;
;	ON‚?‚?‚?‚?‚?‚?A()‚???‚??Žš‚???‚µ‚?‰?‚³‚¢B
;
BINARY  = 0


;	‚l‚l@ƒ}ƒNƒ–?—?ˆ?——•\
;
;	$A	o—???????–?iƒtƒ@ƒCƒ‹–?Ž?—?Žw??‚?‚ ‚?‚?Ž?‚?‚?—LŒ?j
;	$F	Ž?—?‚³‚?‚?ƒtƒ@ƒCƒ‹–?iƒtƒ@ƒCƒ‹–?Ž?—?Žw??‚?‚ ‚?‚?Ž?‚?‚?—LŒ?j
;	$C	?°???§??–?i¢g?£Žq‚?¢?‚?j
;	$X	?°???§??–? (¢g?£Žq‚?¢?‚?‚?‚¢j
;	$D	??????????–?
;	$d	????????????–?
;	$J	¢?Žšƒ‚[ƒh‚?‚?Ž?s
;	$K	Ž?sŒ?AƒL[Ž?—???‚?
;	$O	Žqƒvƒ‹NŽ?i•K‚?s‚?ˆ????‰‚?Žw??‚µ‚?‚?‚?‚³‚¢j
;	$P	ƒJƒŒƒŽƒgƒfƒBƒŒƒNƒgƒ¢‚?ƒpƒX
;	$R	ˆ?s‰?s
;	$T	ƒ^ƒOƒtƒ@ƒCƒ‹‚??A?±Ž?si¢g?£Žq‚?¢?‚?j
;	$t	ƒ^ƒOƒtƒ@ƒCƒ‹‚??A?±Ž?si¢g?£Žq‚?¢?‚?‚?‚¢j
;	$M	ƒ^ƒOƒtƒ@ƒCƒ‹‚?ˆ?s‚?‚?‚?‚?‚?Ž?si¢g?£Žq‚?¢?‚?j
;	$m	ƒ^ƒOƒtƒ@ƒCƒ‹‚?ˆ?s‚?‚?‚?‚?‚?Ž?si¢g?£Žq‚?¢?‚?‚?‚¢j
;	$V	ƒJ[ƒ\ƒ‹ƒtƒ@ƒCƒ‹‚?Ž?? ƒrƒ…ƒA‚?Œ?‚?(•K‚?s‚??Ž?‚?‹LŽ?‚?‚?‚±‚?)
;	$$	'$'‚?‚??u¢?
;	$Z	‰?Ž€Ž?‚?‚?‚?Žg—p‚?‚?ƒ_ƒOƒtƒ@ƒCƒ‹–?



;¢eŽ?¢O•?ƒc[ƒ‹‚????iƒ}ƒNƒ‚?Žg—p‚?‰??\j
;
;	@ƒhƒ‰ƒCƒuEƒpƒXEƒtƒ@ƒCƒ‹ƒl[ƒ€
;	 0----5---10---15---20---25---30--+
UNPMA   = PMEXT $Z $A$J$K		  ;PMAƒtƒ@ƒCƒ‹‰?Ž€
UNLHA   = PMEXT $Z $A$J$K		  ;LZHƒtƒ@ƒCƒ‹‰?Ž€
UNARC   = UNARC $Z $A$J$K		  ;ARC&ARK‚?‰?Ž€
UNISH   = ISH $Z /c$A /*$A$K		  ;ISHƒtƒ@ƒCƒ‹‰?Ž€
UNZIP   = UNZIP $Z $A$J$K	   	  ;ZIP‰?Ž€
RESTCOM = POPCOM -R $Z$K		  ;Ž?sƒtƒ@ƒCƒ‹‚?ƒ_ƒCƒGƒbƒg‰?Ž€

PMA     = PMARC2 $F/$D $M$K		  ;PMAˆ³k
ISH     = ISH $T /ss /c $A$K		  ;ISHƒtƒ@ƒCƒ‹??
LHA     = LHA $F $M$K			  ;LHAˆ³k
COMPCOM = POPCOM -D $T$K		  ;Ž?sƒtƒ@ƒCƒ‹‚?ƒ_ƒCƒGƒbƒgˆ³k

CHKPMA  = PMM $T			  ;[SHIFT]+[U] Žg—pŽ?
EDITOR  = KID $F		    	  ;([SHIFT]+)[E]Ž?‚?‹NŽ?‚?‚?ƒGƒfƒBƒ^
PAGER   = $V				  ;[V]Ž?‚?‹NŽ?‚?‚?ƒy[ƒWƒƒ
PAGER2  = TV $C				  ;[SHIFT]+[V]Ž?‚?‹NŽ?‚?‚?ƒy[ƒWƒƒ

TOOL	= $V				  ;[RETURN]Ž?‚?Ž???‚?¢g?£Žq‚?‚µ‚?A
					@;???‚³‚?‚?‚¢‚?‚¢?‡‚?‹NŽ?‚?‚?ƒc[ƒ‹
S_TOOL  = KID $C			  ;[SHIFT]+[RETURN]Ž?‚?‹NŽ?‚?‚?ƒc[ƒ‹
C_TOOL  = TV $C				  ;[CTRL]+[RETURN]Ž?‚?‹NŽ?‚?‚?ƒc[ƒ‹
SC_TOOL = TV $C				  ;[SHIFT]+[CTRL]+[RETURN]Ž?‚?
					  ;‹NŽ?‚?‚?ƒc[ƒ‹

;Ž???¢g?£Žq‚?[RETURN]‚µ‚??‡‚?Ž?s??? (¢?ˆ?ƒ}ƒNƒ‚?Žg—p‰??\j
;¢g?£Žq   ƒhƒ‰ƒCƒuEƒpƒXEƒtƒ@ƒCƒ‹ƒl[ƒ€
;        0----5---10---15---20---25---30--+
RETCOM  = $C$K                            ;COM ƒtƒ@ƒCƒ‹‚?Ž?s
RETPMA  = PMM $C$J                        ;PMA & LZH Ž?—eƒ`ƒFƒbƒN(32)
RETARC  = UNARC $C$J$K                    ;ARC‰?Ž€ƒ`ƒFƒbƒN(32)
RETISH  = ISHREC $C$K                     ;ISHC•?ƒc[ƒ‹
RETZIP  = UNZIP $C$J$K                    ;ZIPƒtƒ@ƒCƒ‹‚?Ž?—eƒ`ƒFƒbƒN
RETFNS  = FUPDATE -L $C$K		  ;?•?ƒtƒ@ƒCƒ‹‚?Ž?—eƒ`ƒFƒbƒN
RETBAS  = BASIC $C                        ;BASICŽ?s
RETPCM  = PCMPLAY $C                      ;PCM & PCK ƒvƒŒƒCƒ„[
RETGRP  = BLS $C                          ;GRP & SC? & SR? ƒ[ƒ_[
RETPIC  = SLV $C                          ;PICƒ[ƒ_[
RETMAG  = LMAG $C                         ;MAGƒ[ƒ_[
RETPI   = TMP /g $C                       ;PIƒ[ƒ_[
RETQ4   = XLD $C                          ;Q4ƒ[ƒ_[
RETJPG  = JLD $C                          ;JPGƒ[ƒ_[
RETMKI  = BLS $C                          ;MKIƒ[ƒ_[
RETMSA  = MISA $C                         ;MSAƒ[ƒ_[
RETBMP  = BMP $C                          ;BMPƒ[ƒ_[
RETLAP  = LAP $C                          ;LAPƒ[ƒ_[
RETMAX  = BLS $C                          ;MAXƒ[ƒ_[
RETGIF  = MG -i-r $C                      ;GIFƒ[ƒ_[
RETMUS  = MGSC $C                         ;MGSƒ\[ƒXƒRƒŽƒpƒCƒ‰
RETMAC  = M80 =$C$RL80 $X,$X /N/E         ;ƒAƒZƒŽƒuƒ‹
RETMID  = MID $C                          ;MIDI‰‰?tƒc[ƒ‹
